.Rproj.user
.Rhistory
.RData
.Ruserdata

_targets
docs

README.html

data-raw/jpg
!data-raw/jpg/.gitkeep
data-raw/png
!data-raw/png/.gitkeep

.env_user

tests
!tests/.gitkeep

reports/computer-vision-demo.qmd